<li class="{{if food.isAvailable '' 'not-available'}}">
  {{#link-to "foods.food" food}}{{food.name}}{{/link-to}}
  <button {{action "toggleAvailability" food}}>
    Make {{if food.isAvailable 'unavailable' 'available'}}
  </button>
</li>
