<h1>Login</h1>

<div class="field">
  <label for="">Email</label>
  {{input value=email}}
</div>

<div class="field">
  <label for="">Password</label>
  {{input type="password" value=password}}
</div>

<button {{action 'login' email password}}>Login</button>
