@import url("food-list.css");

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container .flex-item {
  padding: 10px;
}

.medium-text-area {
  height: 50px;
  width: 300px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.email-status {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.rating-bar {
  border-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 15px;
}

.inner-bar {
  height: 100%;
  display: block;
}
