.not-available {
  color: gray;
}

.not-available a {
  color: gray;
}

.food-item, .restaurant-item {
  width: 250px;
  padding: 6px;
  margin-bottom: 4px;

  border: 1px solid black;
  border-radius: 5px;
}


.food-item .title-bar {
  font-size: 1.3em;
}

.food-item .description {
  padding: 8px;
}

.food-item .description:after {
  content: "";
  display: table;
  clear: both;
}

.img-icon {
  max-width: 120px;
  padding: 0 5px 5px 0;
}
